server:
  port: 9004
spring:
  application:
    name: appointment-service
  datasource:
    url: jdbc:mysql://localhost:3306/healthdb?useSSL=false&serverTimezone=Asia/Taipei&allowPublicKeyRetrieval=true
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}
  flyway:
    enabled: true
    baseline-on-migrate: true
    table: flyway_history_appointment

management:
  endpoints:
    web:
      exposure:
        include: health,info

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}

notifications:
  sms:
    enabled: false
  email:
    enabled: false
